node_modules
dist
.env

# macOS
.DS_Store

# backups created by our workflow
*.bak-*

# editor swap files
*.swp
*.swo

# node build output
**/dist
**/node_modules

# mac junk
.DS_Store

# local postgres data (DO NOT COMMIT)
backend/pgdata/

# env files
.env
.env.local
**/.DS_Store
**/node_modules
frontend/dist
backend/dist
backend/pgdata
